.ShopCart {
    position: absolute;
    right: 0px;
    top: 40px;
    min-width: 350px;
    z-index: 1;
    background-color: blanchedalmond;
    padding: 10px;
}

.ShopCartButton {
    float: right;
}

.CreateNewItemButton {
    font-size:small;
}

.CreateNewItemInput {
    width: 100px;
}

input {
    margin: 0px 10px;
}