<div>
    <button mat-raised-button color="primary" class="ShopCartButton" (click)="changeExpandFlag()">SHOP CART</button>
</div>
<div *ngIf="isExpanded" class="ShopCart">
    <div>
        <label>Новый продукт</label>
        <input type="text" required name="itemName" class="CreateNewItemInput" [(ngModel)]="newItemForm.name" />
        <button mat-raised-button color="primary" class="CreateNewItemButton" (click)="createNewShopItem()">CREATE</button>
    </div>
    <app-shop-cart-item *ngFor="let item of getAllItem()" [shopCartItem]="item"></app-shop-cart-item>
</div>
